<div style="border:1.7px solid #3b3758">
<div class="container">
	<h3>Welcome to Micro Learning App!</h3>
	<p>Microlearning is a holistic approach for skill based learning and education which deals with relatively small learning units. It involves short-term-focused strategies especially designed for skill based understanding/learning/education.</p>
	<p>This application provides a platform for just that!!! Click here to <a href='/signup/form'><strong>signup</strong></a></p>
	</div>
</div>