<div style="border:1.7px solid #3b3758; border-radius: 25px; padding: 15px">
	<div clas="col-5">
		<div class="col-8">
			<h1>Page not Found</h1>
			<p>I'm sorry but the Web Service is not accessible from the folder you typed in.</p>
			<p><a href="/">Back home</a></p>
			</div>
		<div>
	</div>
</div>
