<div style="border:1.7px solid #3b3758; border-radius: 10px; padding: 15px">
    <div class="container col-8">
    <div class="col-9">
        <% if flash[:error] %>
            <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
        <% end %>
        <h3>Select a Category!</h3>
        <p>Below are some of the amazing categories you can coose from.</p>
        <hr>
            <form action="/select_categories" method="post">
                <div class="form-check-inline mb-3" style="padding: 8px">
                <%= checkbox(:category, :choose, cat) %>
                </div>
                <% if cat %>
                <div>
                <input class="btn btn-primary" type="submit" value="Submit"><br/><br/>
                </div>
                <% end %>
                </div>
                <br/><br/>
            </form>
            <% if user_cat %>
            <div col-9 class="row">
                <% user_cat.each do |cat| %>
                    <form action="/deselect_category" method="post">
                        <div style="padding: 5px">
                            <input type="hidden" name="delete" value="<%= cat %>"  />
                            <input id="delete" class="btn btn-danger" value="Remove <%= cat %>" type="submit"/>
                        </div>
                    </form>
                <% end %>
            </div>
            <p><a href="/results">view results</a><br/><br/>
            <% end %>
        </div>
	</div>
</div>